@use 'sass:color';
@use 'sass:math';
@import './common.scss';

body,
#root {
  background-color: $background-color;

  height: 100vh;
  width: 100vw;
  position: relative;

  // Attempt at fixing iOS Safari
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
}

.App {
  position: absolute;
  inset: 0;
  padding: $gap;

  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: auto 3fr;
  place-items: stretch;
  gap: $smaller-gap;
}

#scroll-outer {
  border: $panel-line;
  background-color: $panel-color;
  place-self: stretch;

  position: relative;

  > div {
    position: absolute;
    inset: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}

#scroll-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;

  padding: $scroll-container-inset;

  > * {
    max-width: 100%;
  }
}
