@use 'sass:color';
@import './common.scss';

#root {
  background-color: $dark;

  height: 100vh;
  width: 100vw;
  position: relative;

  // Attempt at fixing iOS Safari
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }

  display: grid;
  place-items: center;
}

.App {
  position: absolute;
  inset: 0;
  padding: $gap;

  display: grid;
  grid-template-areas: 'a' 'b';
  place-items: start center;
  gap: $gap;
}

#scroll-outer {
  background-color: $dark-dark;
  place-self: stretch;
  overflow-x: hidden;
  overflow-y: scroll;

  > #scroll-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;

    > * {
      max-width: 100%;
    }
  }
}

#container-container {
  display: grid;
  grid-template: max(40vh, 300px) / repeat(2, minmax(0, 1fr));
  width: min(100%, 1000px);
  place-items: stretch;
  gap: $gap;
}

.container {
  position: relative;
}

.canvas {
  height: 100%;
  width: 100%;
  background-color: $black;
}

.target {
  position: absolute;
  inset: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  &::before {
    content: '';
    width: 100%;
    border-radius: 50%;
    padding-top: 100%;
  }

  &.blue::before {
    background-color: color.change($blue-light, $alpha: 0.75);
  }

  &.green::before {
    background-color: color.change($green-light, $alpha: 0.75);
  }
}
