@use 'sass:color';
@import './common.scss';

* {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#root {
  background-color: $dark;

  height: 100vh;
  width: 100vw;
  overflow: scroll;

  // Attempt at fixing iOS Safari
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }

  display: grid;
  place-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;

  padding: 20px;

  > * {
    flex-shrink: 0;
  }
}

#container {
  position: relative;
  height: max(50vh, 300px);
  width: min(100vw, 600px);
}

#canvas {
  height: 100%;
  width: 100%;
  background-color: $black;
}

#target {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    width: 100%;
    border-radius: 50%;
    background-color: color.change($blue-light, $alpha: 0.75);
    padding-top: 100%;
  }
}
