$white: #ffffff;
$light-light: #fff5f0;
$light: #ffeee1;
$light-dark: #f5ddca;
$light-dark-dark: #e8ceb8;

$mid-tone-light: #b5a191;
$mid-tone: #84756c;
$mid-tone-dark: #534b47;

$dark-light-light: #231f1f;
$dark-light: #1d1a1a;
$dark: #1a1717;
$dark-dark: #141212;
$black: #000000;

$background-color: $dark;
$text-color: $light-dark-dark;
