@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;325;350;375;400;425;450;475;500;525;550;575;600;625;650;675;700;725;750;775;800&display=swap');

$white: #ffffff;
$light-light: #fff5f0;
$light: #ffeee1;
$light-dark: #f5ddca;
$light-dark-dark: #e8ceb8;

$mid-tone-light: #b5a191;
$mid-tone: #84756c;
$mid-tone-dark: #534b47;

$dark-light-light: #231f1f;
$dark-light: #1d1a1a;
$dark: #1a1717;
$dark-dark: #141212;
$black: #000000;

$blue-white: #93dbff;
$blue-light-light: #0095f3;
$blue-light: #0082e7;
$blue-dark: #003c75;
$blue-dark-dark: #002a5b;
$blue-black: #002557;

$green-white: #81ffb4;
$green-light-light: #67cd94;
$green-light: #5bb585;
$green-dark: #005c2e;
$green-dark-dark: #004826;
$green-black: #002e19;

$background-color: $dark;

$gap: 20px;

$monospace: 'Inconsolata', monospace;

$text-font-size: 1rem;
$text-font-weight: 350;
$text-font-color: $light-dark-dark;
$text-line-height: 1.4;
$text-bold-font-weight: 575;
$text-bold-color: $light-dark;

$matrix-font-size: 0.75rem;
$matrix-font-weight: 500;
$matrix-font-color: $light-dark-dark;

$label-font-size: 0.75rem;
$label-font-weight: 500;
$label-font-color: $light-dark-dark;

$text-vert-spacing: $text-font-size * $text-line-height * 0.65;

$line-color: $mid-tone;

* {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  font-family: $monospace;
  font-size: $text-font-size;
  font-weight: $text-font-weight;
  color: $text-font-color;
  line-height: $text-line-height;

  text-align: center;
}

.text {
  max-width: 65ch !important;

  font-size: $text-font-size;

  strong {
    font-weight: $text-bold-font-weight;
    color: $text-bold-color;
  }

  > p:not(:last-child) {
    margin-bottom: $text-vert-spacing;
  }
}
