@use 'sass:color';
@use 'sass:math';
@import './common.scss';

#demo-window {
  display: grid;
  grid-template: 2fr 2fr 1fr / minmax(0, 1fr);
  height: 100%;
  max-height: 100%;
  width: min(450px, 30vw);
  place-items: stretch;
  gap: $smaller-gap;

  > div {
    position: relative;
    overflow: hidden;
    background-color: $panel-color;
    border: $panel-line;

    > div {
      position: absolute;
      inset: 0;
    }
  }
}

.container {
  transition: opacity 0.5s ease-out;
  background-color: $dark-dark;
}

.canvas {
  height: 100%;
  width: 100%;

  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.target {
  position: absolute;
  inset: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;

  transform: scale(0.02); // default

  &::before {
    content: '';
    width: 100%;
    border-radius: 50%;
    padding-top: 100%;
  }

  &.blue::before {
    background-color: color.change($blue-light, $alpha: 0.75);
  }

  &.green::before {
    background-color: color.change($green-light, $alpha: 0.75);
  }
}

.container-label {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $dark-dark;
  padding: 0.5ch 1ch;
}

#demo-controls-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: $smaller-gap;
}
