@use 'sass:color';
@use 'sass:math';
@import './common.scss';

.matrix-equation {
  background-color: $matrix-equation-color;
  padding: $gap;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1ch;
  overflow-x: scroll;

  font-size: $matrix-font-size;
  font-weight: $matrix-font-weight;
  color: $matrix-font-color;

  > * {
    flex-shrink: 0;
  }

  > span {
    position: relative;
    top: 1rem;
  }

  .big {
    font-size: $matrix-big-font-size;
    font-weight: $matrix-big-font-weight;
  }

  &.collapsible {
    cursor: pointer;

    @include hover-scale(1.01);
  }

  &.collapsed {
    > span {
      top: unset;
    }

    .matrix-elements,
    .matrix::before,
    .matrix::after {
      display: none;
    }

    .matrix {
      grid-template-areas: 'a a a';
    }

    .matrix-label {
      background-color: color.change($panel-color, $alpha: 0.5);
      padding: 0 1ch;
      font-size: unset;
    }
  }
}

@mixin col($color) {
  &.all .limit-dp {
    color: $color;
  }
  &.label .matrix-label {
    color: $color;
  }
  &.left .limit-dp:nth-last-of-type(n + 4) {
    color: $color;
  }
  &.last .limit-dp:nth-of-type(n + 10) {
    color: $color;
  }
  &:not(.last, .label) .limit-dp:nth-of-type(1),
  &:not(.last, .label) .limit-dp:nth-of-type(2) {
    color: $color;
  }
}

.blue {
  @include col($blue-light);
}
.green {
  @include col($green-light);
}
.brown {
  @include col($brown-light);
}
.purple {
  @include col($purple-light);
}

.matrix {
  display: inline-grid;
  grid-template-areas: 'a a a' 'b c d';
  grid-template-columns: 1ch auto 1ch;
  gap: 2ch 0.25ch;

  &::before,
  &::after {
    content: '';
    font-size: 0.5rem;
    border: $matrix-line;
  }
  &::before {
    border-right: none;
  }
  &::after {
    border-left: none;
  }
}

.matrix-label {
  grid-area: a;

  font-size: $label-font-size;
  font-weight: $label-font-weight;
  color: $label-font-color;
}

.matrix-elements {
  padding: 0.75ch 0.5ch;

  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: 0.5ch 0.75ch;
}

.limit-dp {
  min-width: 5ch;
}
