@use 'sass:color';
@use 'sass:math';
@import './common.scss';

.matrix-equation {
  background-color: color.mix($dark, $dark-dark, 50%);
  padding: $gap;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1ch;
  overflow-x: scroll;

  font-size: $matrix-font-size;
  font-weight: $matrix-font-weight;
  color: $matrix-font-color;

  > * {
    flex-shrink: 0;
  }

  > span {
    position: relative;
    top: 1rem;
  }
}

.blue {
  &.all .limit-dp,
  &.all .matrix-label {
    color: $blue-light;
  }
  .limit-dp:nth-of-type(1),
  .limit-dp:nth-of-type(2) {
    color: $blue-light;
  }
}

.green {
  &.all .limit-dp,
  &.all .matrix-label {
    color: $green-light;
  }
  .limit-dp:nth-of-type(1),
  .limit-dp:nth-of-type(2) {
    color: $green-light;
  }
}

.matrix {
  display: inline-grid;
  grid-template-areas: 'a a a' 'b c d';
  grid-template-columns: 1ch auto 1ch;
  gap: 2ch 0.25ch;

  &::before,
  &::after {
    content: '';
    font-size: 0.5rem;
    border: $line;
  }
  &::before {
    border-right: none;
  }
  &::after {
    border-left: none;
  }
}

.matrix-label {
  grid-area: a;

  font-size: $label-font-size;
  font-weight: $label-font-weight;
  color: $label-font-color;
}

.matrix-elements {
  padding: 0.75ch 0.5ch;

  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: 1ch 1ch;
}

.limit-dp {
  min-width: 5ch;
}
